@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oxanium:wght@200..800&family=Russo+One&display=swap');
* {
  padding: 0;
  margin: 0;
  /* color: black; */
}
body {
    background: #010203;
    overflow-x: hidden;
}

.container {
  width: 100vw;
  margin: 0 auto;
  padding: 20px;
}
.goBackHome button{
  background-color: yellow;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  margin: 30px;
  font-weight: bold;
}
.goBackHome button a{
  text-decoration: none;
  color: black;
}
header{
  text-align: center;
  color: rgb(252, 64, 183);
  margin: 20px 0;
  margin-bottom: 30px;
  font-family: "Russo One", sans-serif;
}
header h1{
  font-size: 3.5rem;
  animation: glow 3s ease-in-out infinite alternate; /* Glow animation */
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #00eaff, 0 0 10px #00eaff, 0 0 20px #00eaff, 0 0 40px #00eaff, 0 0 60px #00eaff;
  }
  50% {
    text-shadow: 0 0 10px #00eaff, 0 0 20px #00eaff, 0 0 30px #00eaff, 0 0 50px #00eaff, 0 0 70px #00eaff;
  }
  100% {
    text-shadow: 0 0 5px #00eaff, 0 0 10px #00eaff, 0 0 20px #00eaff, 0 0 40px #00eaff, 0 0 60px #00eaff;
  }
}

.headContainer{
  position: relative;
  top: 0;
}
header .hl1{
  rotate: 90deg;
  border-left: 4px solid white;
  height: 17vw;
  width: 400px;
  border-radius: 2px;
  position: absolute;
  top: 133px;
  left: -147px;
}
header .vl1{
  rotate: 0deg;
  top: 0;
  left: 0;
}
