@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oxanium:wght@200..800&family=Russo+One&display=swap');
/* audiowide font */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
/* orbitron font */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400..900&display=swap');
.navbar {
    flex-direction: column; /* Stack items vertically */
    align-items: center;    /* Center align items */
    background-color: #759cc9cd;
    z-index: 1;
}

.navbar-brand {
    text-align: center;     /* Center the brand name */
    font-size: 2rem;       /* Adjust font size as needed */
}

.form-inline {
    width: 100%;            /* Make the form take the full width */
    justify-content: center; /* Center the search bar and button */
    margin: 10px 0;        /* Add margin for spacing */
    display: flex;
    gap: 20px;
}

.form-control {
    width: 90%;             /* Set the search bar width */
}

.navbar-nav {
    flex-direction: column;
    align-items: center;
    /* Keep nav links in a row */
    justify-content: center;
    /* Center align nav links */
}
.navbar-nav li a{
    color: black;
}

.nav-item {
    margin: 0 10px;
    font-family: "Russo One", sans-serif;
  /* font-family: "Orbitron", serif; */
  /* font-weight: bold; */
  font-family: "Audiowide", sans-serif;
    /* Add spacing between nav items */
}

.container h6{
    /* font-weight: bold; */
    color: black;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    font-family: "Russo One", sans-serif;
  /* font-family: "Orbitron", serif; */
  /* font-weight: bold; */
  /* font-family: "Audiowide", sans-serif; */
}
.navbar-brand {
    text-align: center;
    /* Center the brand name */
    font-size: 2rem;
    /* Adjust font size as needed */
    font-family: "Russo One", sans-serif;
  /* font-family: "Orbitron", serif; */
  font-weight: bolder;
  /* font-family: "Audiowide", sans-serif; */
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Stack elements vertically on smaller screens */
    }

    .navbar-nav {
        width: 100%;            /* Full width for navbar links */
        justify-content: center; /* Center align nav links */
    }

    .form-inline {
        flex-direction: row;    /* Align the search and button horizontally */
        width: 100%;            /* Full width */
    }

    .form-control {
        width: 80%;             /* Adjust width for smaller screens */
    }
}