@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oxanium:wght@200..800&family=Russo+One&display=swap');
/* audiowide font */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
/* orbitron font */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400..900&display=swap');
* {
  padding: 0;
  margin: 0;
  /* color: black; */
}
body {
    /* background: #010203; */
    background-image: url('https://img.freepik.com/premium-photo/close-up-blue-yellow-circuit-board-with-glowing-lights_906809-25003.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    height: 215vh;
    width: 100vw;
    /* z-index: 10; */
    z-index: -10; /* Ensure the background is behind the overlay */

}
body::before {
  content: ""; /* Empty content for the overlay */
  position: absolute; /* Position the overlay */
  top: 0;
  left: 0;
  width: 100%;
  height: 215vh;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay with 50% opacity */
  z-index: -1; /* Ensure it's above the background but below content */
}

.container {
  width: 100vw;
  margin: 0 auto;
  padding: 20px;
  z-index: 20;
}
.goBackHome button{
  background-color: yellow;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  margin: 30px;
  font-weight: bold;
}
.goBackHome button a{
  text-decoration: none;
  color: black;
}
header{
  text-align: center;
  color: rgb(253, 249, 0);
  color: yellow;
  margin: 20px 0;
  margin-bottom: 30px;
  font-family: "Russo One", sans-serif;
  /* font-family: "Orbitron", serif; */
  /* font-family: "Audiowide", sans-serif; */
  /* font-size: 5rem; */
  font-weight: bolder;
}
header h1{
  font-size: 3.5rem;
  animation: glow 3s ease-in-out infinite alternate; /* Glow animation */
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #00eaff, 0 0 10px #00eaff, 0 0 20px #00eaff, 0 0 40px #00eaff, 0 0 60px #00eaff;
  }
  50% {
    text-shadow: 0 0 10px #00eaff, 0 0 20px #00eaff, 0 0 30px #00eaff, 0 0 50px #00eaff, 0 0 70px #00eaff;
  }
  100% {
    text-shadow: 0 0 5px #00eaff, 0 0 10px #00eaff, 0 0 20px #00eaff, 0 0 40px #00eaff, 0 0 60px #00eaff;
  }
}

.headContainer{
  position: relative;
  top: 0;
}
header .hl1{
  rotate: 90deg;
  border-left: 4px solid white;
  height: 17vw;
  width: 400px;
  border-radius: 2px;
  position: absolute;
  top: 133px;
  left: -147px;
}
header .vl1{
  rotate: 0deg;
  top: 0;
  left: 0;
}
.main-content{
  font-family: "Audiowide", sans-serif;
  /* font-family: "Orbitron", serif; */
  position: absolute;
  left: 50px;
  right: 50px;
  text-align: left;
}
.main-content p, ul{
  color: white;
  font-size: 17px;
  line-height: 23px;
}
.features-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 50px 0;
}

.features-section {
  background: linear-gradient(90deg, rgba(11, 11, 59, 0.8), rgba(30, 30, 91, 0.8));
  color: #fdfd96;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  max-width: 600px;
}
#stayTuned{
  text-align: center;
  text-transform: uppercase;
  font-family: "Russo One", sans-serif;
  /* font-family: "Orbitron", serif; */
  /* font-family: "Audiowide", sans-serif; */
  padding-top: 15px;
}

.features-title {
  font-family: 'Orbitron', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  color: #00f7ff;
  margin-bottom: 15px;
  text-align: center;
}

.features-description {
  font-family: 'Rajdhani', sans-serif;
  font-size: 18px;
  line-height: 1.8;
  text-align: center;
  font-family: "Russo One", sans-serif;
  /* font-family: "Orbitron", serif; */
  /* font-family: "Audiowide", sans-serif; */
}

.features-list {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.8;
  color: #e0e0e0;
  margin: 20px;
  list-style-type: none;
  padding: 0;
  font-family: "Russo One", sans-serif;
  /* font-family: "Orbitron", serif; */
  /* font-family: "Audiowide", sans-serif; */
}

.features-list li {
  margin-bottom: 10px;
  text-align: left;
}
.moreInfoDiv{
  margin-bottom: 50px;
}
.moreInfo{
  color: white;
}

/* CONTACT INFO */
.contact-main {
  text-align: center;
  padding: 20px;
  background: linear-gradient(90deg, rgba(11, 11, 59, 0.8), rgba(30, 30, 91, 0.8));
  color: #fdfd96;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.contact-title {
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  color: yellow;
  margin-bottom: 15px;
  font-weight: bolder;
}

.contact-subtitle {
  font-family: 'Rajdhani', sans-serif;
  font-size: 18px;
  color: #e0e0e0;
  margin-bottom: 20px;
  text-align: left;
  /* font-family: "Russo One", sans-serif; */
  font-family: "Orbitron", serif;
  /* font-family: "Audiowide", sans-serif; */
}

.contact-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  /* font-family: "Russo One", sans-serif; */
  /* font-family: "Orbitron", serif; */
  font-family: "Audiowide", sans-serif;
}

.contact-item {
  display: flex;
  align-items: center;
  /* text-decoration: none; */
  color: #fff;
  /* font-family: 'Roboto', sans-serif; */
  font-size: 18px;
  /* transition: color 0.3s ease, transform 0.3s ease; */
  gap: 40px;
  /* font-family: "Russo One", sans-serif; */
  /* font-family: "Orbitron", serif; */
  font-family: "Audiowide", sans-serif;
}
.contact-links svg{
  filter: invert(1);
  scale: 1.5;
}
.contact-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}


/* glow */
@keyframes glowing-border {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.contact-main {
  text-align: center;
  padding: 20px;
  background: linear-gradient(90deg, rgba(11, 11, 59, 0.8), rgba(30, 30, 91, 0.8));
  color: #fdfd96;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.contact-main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  padding: 2px;
  background: linear-gradient(90deg, #ff00ff, #00f7ff, #ffff00);
  background-size: 300% 300%;
  animation: glowing-border 6s ease infinite;
  z-index: -1;
}

.contact-title {
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  color: yellow;
  margin-bottom: 15px;
}

.contact-subtitle {
  font-family: 'Orbitron', sans-serif;
  /* font-family: 'Rajdhani', sans-serif; */
  font-size: 18px;
  color: #e0e0e0;
  margin-bottom: 20px;
}

.contact-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}


/* FOOTER */
footer{
  position: relative;
  bottom: 0;
  margin-top: 20px;
}
footer p{
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}